@model IEnumerable<Walton_Happy_Travel.Models.Accomodation>

@{
    var type = ViewData["Type"].ToString();
    ViewData["Title"] = "All " + type + "s";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccomodationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccomodationAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccomodationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccomodationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccomodationId" asp-route-type="@ViewData["Type"]">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccomodationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccomodationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
