@model IEnumerable<Walton_Happy_Travel.Models.Brochure>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
<<<<<<< HEAD
                    @Html.DisplayNameFor(model => model.DepartureDate)
                </th>
                <th>
=======
>>>>>>> c089588605b4ee3cede64435b177a54f071bfe1e
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PricePerPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catering)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxPeople)
                </th>
<<<<<<< HEAD
                <th>
                    @Html.DisplayNameFor(model => model.MaxRooms)
                </th>
=======
>>>>>>> c089588605b4ee3cede64435b177a54f071bfe1e
            <th>
                @Html.DisplayNameFor(model => model.Accomodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
=======
>>>>>>> c089588605b4ee3cede64435b177a54f071bfe1e
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeople)
            </td>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.MaxRooms)
            </td>
            <td>
                -
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
=======
                @Html.DisplayFor(modelItem => item.Accomodation.AccomodationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
>>>>>>> c089588605b4ee3cede64435b177a54f071bfe1e
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrochureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BrochureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BrochureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
