@model Walton_Happy_Travel.Models.AddPeopleToBookingViewModel

@using (Html.BeginForm("AddPeople", "Person"))
{
    @Html.HiddenFor(m => m.BookingId)

    for(int i = 0; i < Model.NumberOfPeople; i++)
    {
        <h1>Person #@(i + 1)</h1>
        <label asp-for="PeopleToAdd.ElementAt(i).Forename" class="control-label"></label>
        @Html.EditorFor(x => x.PeopleToAdd[i].Forename, new { @class = "form-control"})

        <label asp-for="PeopleToAdd.ElementAt(i).MiddleNames" class="control-label"></label>
        @Html.EditorFor(x => x.PeopleToAdd[i].MiddleNames, new { @class = "form-control"})

        <label asp-for="PeopleToAdd.ElementAt(i).Surname" class="control-label"></label>
        @Html.EditorFor(x => x.PeopleToAdd[i].Surname, new { @class = "form-control"})

        <label asp-for="PeopleToAdd.ElementAt(i).DateOfBirth" class="control-label"></label>    
        @Html.EditorFor(x => x.PeopleToAdd[i].DateOfBirth, new { @class = "form-control"})

        <br />    
    }
    
    
    <div class="form-group">
        <input type="submit" value="Add People" name="AddPeople" class="btn btn-default" />
    </div>
}