@using Microsoft.Extensions.Options;
@model Walton_Happy_Travel.Models.Booking
@inject IOptions<StripeSettings> Stripe;

@{
    ViewData["Title"] = @Model.Brochure.Accomodation.AccomodationName;
}

<br/>
<h1>Cancel Booking Ref: @Model.BookingId</h1>


<p>Are you sure you wish to cancel this booking to <b> @Model.Brochure.Accomodation.AccomodationName </b> on <b>@Model.DepartureDate</b>?</p>
    @{  var charge = Math.Round(Model.TotalPrice - Model.AmountPaid, 2);
        if(!Model.PaymentType.ToString().Equals("FULL"))
        {
            <p>You <b>WILL</b> be charged <b>£@charge</b></p>
        }

        <form asp-action="Cancel" asp-route-bookingId="@Model.BookingId">
            @if(!Model.PaymentType.ToString().Equals("FULL"))
            {
                {charge *= 100;}
                <div align="center">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="@Stripe.Value.PublishableKey"
                        data-amount="@charge"
                        data-name="Walton Happy Travel"
                        data-label="Confirm Cancellation"
                        data-description="Full payment"
                        data-locale="gb"
                        data-currency="GBP"
                        data-zip-code="false"
                        data-allow-remember-me ="false"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                    </script>
            </div>
            }
            else 
            {
                <div>
                    @Html.ActionLink("Cancel", "CancelConfirmed", "Booking", new { bookingId = Model.BookingId, stripeEmail = "", stripeToken = "" }, new { @class = "btn cancelFull btn-danger",  onclick = "return false;"})
                </div>
            }
        </form>
    }

@section Scripts{
    <script>
        $(document).ready(function () {
        $('.cancelFull').click(function () {
            $(this).closest('form')[0].submit();
        });
    });
    </script>
    
}