@using Newtonsoft.Json;
@model Walton_Happy_Travel.Models.CheckDateViewModel

@{
    ViewData["Title"] = "Availability";
}

<br/>
@using (Html.BeginForm("CheckDate", "Booking", FormMethod.Post))
{
    @Html.HiddenFor(m => m.BrochureId)
    @Html.HiddenFor(m => m.UnavailableDates)

    <label class="control-label">Departure Date</label>
    @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @id = "datepicker", @class = "control-form", @Name = "inputDate", @PlaceHolder = "mm/dd/yyyy" } })

    <div class="form-group">
        <input type="submit" value="CheckDate" name="CheckDate" class="btn btn-primary" />
    </div>
}

@section Scripts
{
    
    <script>
        var disableddates = [];
        @foreach (DateTime date in Model.UnavailableDates)
        {
            Console.WriteLine(date.ToString());
            @:disableddates.push(new Date(@date.Year, @date.Month-1, @date.Day))
        }

        function DisableSpecificDates(date) {
            var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
            return [disableddates.indexOf(string) == -1];
        }

        $(function() {
            $("#datepicker").datepicker({
                minDate: +1,
                beforeShowDay: DisableSpecificDates,
                dateFormat: "dd/mm/yy"
            });
        });
        
    </script>  

}