@using Microsoft.Extensions.Options;
@model Walton_Happy_Travel.Models.BookingConfirmationViewModel
@inject IOptions<StripeSettings> Stripe;

@{
    ViewData["Title"] = @Model.AccomodationName;
}

<br/>
<h1>Booking Details</h1>
<hr>
 <table style="width:100%">
  <tr>
    <tr>
        <th>Booking Reference</th>
        <td>@Model.BookingId</td>
    </tr>
    <tr>
        <th>Accomomdation</th>
        <td>@Model.AccomodationName</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.CountryName</td>
    </tr>
    <tr>
        <th>Departure Date</th>
        <td>@Model.DepartureDate</td>
        <td>@Html.ActionLink("Change", "ChangeDate", "Booking", new { bookingId = Model.BookingId })</td>
    </tr>
    <tr>
        <th>Duration</th>
        <td>@Model.Duration Days</td>
    </tr>
    <tr>
        <th>Catering</th>
        <td>@Model.Catering</td>
    </tr>
    <tr>
        <th>Total Price</th>
        <td>£@Model.TotalPrice</td>
    </tr>
  </tr>
</table>

<hr>
@{  int i = 1;   
    
    <table style="width:100%">
    <tr>
        <tr>
            <th>People</th>
            <th>First Name</th>
            <th>Middle Name(s)</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
        </tr>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <th>Person #@i</th>
                <td>@person.Forename</td>
                <td>@person.MiddleNames</td>
                <td>@person.Surname</td>
                <td>@person.DateOfBirth</td>
                <td>
                    @Html.ActionLink("Update", "Edit", "Person", new { id = person.PersonId})  
                    @if(Model.Persons.Count() > 1 && !Model.Status.Equals("Completed"))
                    {
                        @Html.ActionLink("| Remove", "DeleteConfirmed", "Person", new { id = person.PersonId });
                    }
                </td>
                @{i++;}
            </tr>
        }
        
    </tr>
    </table>

    if(!Model.Status.Equals("Completed"))
    {
        <p align="right">@Html.ActionLink("+ Add Person", "Create", "Person", new { bookingId = Model.BookingId })</p>
    }


    @if(Model.SpecialRequirements.Length > 0)
    {
        <hr>
        <h4><b>Special Requirements</b></h4>
        @Html.DisplayFor(m => m.SpecialRequirements)
    }
    
    
}

@if(!Model.Status.Equals("Completed") && Model.Persons.Count() > 0)
{
    <hr>
    @using (Html.BeginForm("Confirmation", "Booking", null, FormMethod.Post))
    {
        @Html.HiddenFor(m => m.BookingId)
        <h5>What payment method would you prefer?</h5>

        <div class="form" align="center">
            @foreach (var value in PaymentType.GetValues(typeof(PaymentType)))
            {
                @Html.RadioButtonFor(m => m.PaymentType, value)
                @Html.Label(value.ToString())
                <br/>
            }

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </div>
    }
}