@model Walton_Happy_Travel.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoOfRooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialRequirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialRequirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brochure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brochure.BrochureId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
