@model IEnumerable<Walton_Happy_Travel.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Booking Ref")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayName("Accomodation")
            </th>
            <th>
                @Html.DisplayName("Brochure")
            </th>
            <th>
                @Html.DisplayName("Departure Date")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brochure.Accomodation.AccomodationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brochure.BrochureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                £
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                £
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            
            <td>
                <a asp-action="Invoice" asp-route-bookingId="@item.BookingId">Invoice</a> |
                <a asp-action="Confirmation" asp-route-bookingId="@item.BookingId">Amend</a>
            </td>
        </tr>
}
    </tbody>
</table>
