@model Walton_Happy_Travel.Models.UserBookingsViewModel

@{
    ViewData["Title"] = "My Bookings";
}

<br/>
<h2>Bookings</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Booking Ref")
            </th>
            <th>
                @Html.DisplayName("Accomodation")
            </th>
            <th>
                @Html.DisplayName("Departure Date")
            </th>
            <th>
                @Html.DisplayName("Duration")
            </th>
            <th>
                @Html.DisplayName("People Attatched")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bookings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brochure.Accomodation.AccomodationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brochure.Duration)
            </td>
            <td>
                @item.Persons.Count()
            </td>
            <td>
                £@item.TotalPrice
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @if(!item.Status.Equals("Cancelled"))
                {
                    @if(item.Status.Equals("Completed"))
                    {
                        @Html.ActionLink("Invoice |", "Invoice", "Booking", new { bookingId = item.BookingId })
                    }
                    @if(item.Status.Equals("IN_PROGRESS"))
                    {
                        @Html.ActionLink("Amend", "Confirmation", "Booking", new { bookingId = item.BookingId })
                    }
                    else
                    {
                        @Html.ActionLink("Amend", "Confirmation", "Booking", new { bookingId = item.BookingId })
                        @Html.ActionLink("| Cancel", "Cancel", "Booking", new { bookingId = item.BookingId })
                    }
                }    
            </td>
        </tr>
}
    </tbody>
</table>
